.logos{
    width: 15%;
    display: flex;
    margin: 62px;
}
.detail{
    display: flex;
    justify-content: space-around;
    background-color: slategray;
    
}
.social-icons{
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: slategray;
}
   
    .lastheading{
        display: flex;
        justify-content: center;
    background-color: slategray;
    padding-bottom: 10px;
}
.copyright{
    display: flex;
    justify-content: center;

background-color: skyblue;
}
.section1{
    cursor: pointer;
}

.section2{
    cursor: pointer;
}